### 原创：周志鹏
### 公众号：数据不吹牛，更多案例和有趣分析等你来撩

In [ ]:
import os
import time
import pandas as pd

os.chdir('C:\\Users\\Administrator\\Desktop\\data')

### 打开单个表格

In [4]:
name = '垂钓装备&绑钩器.xlsx'
df = pd.read_excel(name)
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1

### 查看日期范围

In [6]:
df['日期'].unique()

array(['2019-08', '2019-07', '2019-06', '2019-05', '2019-04', '2019-03',
       '2019-02', '2019-01', '2018-12', '2018-11', '2018-10', '2018-09'], dtype=object)

### 计算销售额

In [8]:
df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌            销售额
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17  190167.455681
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12   64673.807815
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20   58871.997672
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13   55856.842507
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1   41409.600947

### 单表销售额合并

In [10]:
df_sum = df.groupby('品牌')['销售额'].sum().reset_index()
df_sum.head()

      品牌            销售额
0   品牌-1  529837.745358
1  品牌-10  217976.661847
2  品牌-11  327093.079507
3  品牌-12  485635.295843
4  品牌-13  438391.195855

### 增加行业标签

In [12]:
df_sum['行业'] = name.replace('.xlsx','')
df_sum.head()

      品牌            销售额        行业
0   品牌-1  529837.745358  垂钓装备&绑钩器
1  品牌-10  217976.661847  垂钓装备&绑钩器
2  品牌-11  327093.079507  垂钓装备&绑钩器
3  品牌-12  485635.295843  垂钓装备&绑钩器
4  品牌-13  438391.195855  垂钓装备&绑钩器

### 搞定单个文件，批量处理只需要循环即可

In [13]:
import time

#开始时间
start = time.time()

#存储汇总的结果
result = pd.DataFrame()

#循环遍历表格名称
for name in os.listdir():
    df = pd.read_excel(name)
    #计算销售额字段
    df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
    #按品牌对细分行业销售额进行汇总
    df_sum = df.groupby('品牌')['销售额'].sum().reset_index()
    df_sum['类目'] = name.replace('.xlsx','')
    result = pd.concat([result,df_sum])

#对最终结果按销售额进行排序
final = result.groupby('品牌')['销售额'].sum().reset_index().sort_values('销售额',ascending = False)

#结束时间
end = time.time()
print('用Python操作所花费时间：{} s'.format(end-start))

用Python操作所花费时间：2.6550002098083496 s

In [15]:
final.head()

       品牌           销售额
15   品牌-5  1.226224e+09
8   品牌-17  1.195281e+09
2   品牌-11  1.151829e+09
4   品牌-13  1.150687e+09
3   品牌-12  1.143520e+09

### 不显示科学计数法，保留小数点两位数

In [16]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
final.head()

       品牌           销售额
15   品牌-5 1226223640.73
8   品牌-17 1195280571.60
2   品牌-11 1151829215.73
4   品牌-13 1150687029.66
3   品牌-12 1143519788.23